:root {
    --cor-principal: #ede4db;
    --cor-botao: #716243;
    --fundo-caixas-workshop: #faf7f3;
    --fundo-depoimentos: #f6f0e9;
    --cor-titulo: #a38f75; /* Marrom mais claro */
    --font-principal: "Cormorant Garamond", serif;
    --font-secundaria: "Open Sans", sans-serif;
}

body {
    background-color: var(--cor-principal);
    font-family: var(--font-secundaria);
}

.container {
    display: flex;
    justify-content: center; /* Alinha para a direita */
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: var(--fundo-caixas-workshop);
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
}

.card-header {
    font-family: var(--font-principal);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    background-color: var(--cor-titulo);
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.form-label {
    font-weight: bold;
}

.btn {
    background-color: var(--cor-botao);
    border: none;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #5a4c39;
}

.text-center a {
    color: var(--cor-botao);
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.text-center a:hover {
    text-decoration: underline;
}

    

.textlumiere{
    
    flex-wrap: wrap;
    display: flex;
    width: 45%;
}