* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
  }
  
   body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--Fundo-caixas-workshop) ;
  }
   :root {
    --cor-principal: #ede4db;
    --cor-botao: #716243;
    --Fundo-caixas-workshop: #faf7f3;
    --fundo-depoimentos: #f6f0e9;
    /* fonte dos titulos principais */
    --font-principlal: "Cormorant Garamond", serif;
    /*fonte dos titulos secundario*/
    --font-secundaria: "Open Sans", sans-serif;
  }
  /*======cabecalho====== */
   .container_header {
    background-color: var(--cor-principal);
    display: flex;
    width: 100%;
  }
  .container_menu {
   display: flex;
   width: 31%;
   height: 15px;
   margin-top: 10px;
   justify-content: flex-end;
  
}

.container_menu ul {
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 20px;
}

.container_menu ul li a {
  font-size: 1.3rem;
  font-family: var(--font-secundaria);
  font-weight: 500;
  color: #5c4f3c;
  text-decoration: none;
  color: #5c4f3c;
}
.container_menu ul li a:hover {
  color: #443a26;
  transition: 0.3s;
  text-decoration: underline;
}
  .topo {
    display: flex;
    font-size: 40px;
    font-family: var(--font-principlal);
    justify-content: flex-start;
  }
.square {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;         
    height: 300px;        
    background-color: transparent; 
    border: 2px solid black;                        
  }
.aba{
    width: 300px ;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
 }
