* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}
:root {
  --cor-principal: #ede4db;
  --cor-botao: #716243;
  --Fundo-caixas-workshop: #faf7f3;
  --fundo-depoimentos: #f6f0e9;
  /* fonte dos titulos principais */
  --font-principlal: "Cormorant Garamond", serif;
  /*fonte dos titulos secundario*/
  --font-secundaria: "Open Sans", sans-serif;
}
/*======cabecalho====== */
.container_header {
  background-color: var(--cor-principal);
  display: flex;
  width: 100vw;
  height: 30vw;
}

.container_header img {
  z-index: 1;
  position: relative;
  width: 45%;
}

.btn_workshops {
  border: var(--cor-botao);
  background-color: var(--cor-botao);
  width: 55%;
  font-size: 19px;
  padding: 13px;
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--font-principlal);
  font-weight: 700;
}

.btn_workshops:hover {
  background-color: #605337;
  transition: 0.3s;
  transform: scale(1.05);
}
.btn_workshops a {
  text-decoration: none;
  color: white;
}
.moverParaDireita {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  width: 20%;
  position: relative;
  left: 20%;
  gap: 20px;
}

.moverParaDireita h1 {
  font-size: 4rem;
  font-family: var(--font-principlal);
  font-weight: 600;
  color: #5c4f3c;
}

/*=====Workshops Populares======*/
.workshops_populares {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 20px;
  background-color: var(--fundo-depoimentos);
}

.workshops_populares h2 {
  font-size: 2rem;
  font-family: var(--font-principlal);
  font-weight: 600;
  color: #5c4f3c;
}
.workshops_populares h3 {
  font-size: 1.5rem;
  font-family: var(--font-secundaria);
  font-weight: 300;
  color: #4b4431;
}

.workshops_cards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100vw;
}

.cards {
  text-align: center;
  padding-bottom: 10px;
  background-color: #faf0e6;
  border-radius: 5px;
  cursor: pointer;
}
.cards:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

.cards img {
  width: 23vw;
  object-fit: cover;
  border-radius: 10px;
}

/* ======Depoimentos======= */

.container_depoimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 16vh;
  background-color: var(--Fundo-caixas-workshop);
  padding: 20px;
  gap: 20px;
  font-size: 19px;
}
.container_depoimentos p {
  text-align: center;
  width: 35%;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: var(--font-secundaria); /*add font italica*/
  font-weight: 300;
  color: #5b352b;
}
.container_depoimentos h2 {
  font-size: 2rem;
  font-family: var(--font-principlal);
  font-weight: 600;
}
/* =======sobre======= */

.container_sobre {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 20px;
  z-index: -1;
}
.container_sobre img {
  width: 30%;
  object-fit: cover;
  border-radius: 10px;
}
.container_sobre h2 {
  font-size: 2rem;
  font-family: var(--font-principlal);
  font-weight: 600;
  color: #5c4f3c;
}
.container_sobre p {
  font-size: 1.3rem;
  padding: 10px;
  font-family: var(--font-secundaria);
  font-weight: 300;
}
.container_sobre h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: var(--font-secundaria);
  font-weight: 500;
  color: #5c4f3c;
}

/* ========Footer========== */
.container_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: var(--cor-principal);
  padding: 20px;
}
.redes_sociais {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.redes_sociais a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}
