:root {
  --cor-principal: #fdfaf6;
  --cor-botao: #716243;
  --Fundo-caixas-workshop: #faf7f3;
  --fundo-depoimentos: #f6f0e9;
  --fundo-sobre: #f7e7ce;
  --fundo-objetivo: #f9f5ef;
  --fundo-procedimentos: #f5ede3;
  --fundo-acompanhamento: #f8f3ea;
  --fundo-workshop: #f7e7ce;
  --fundo-unidade: #f9f5ef;
  --font-principal: "Cormorant Garamond", serif;
  --font-secundaria: "Open Sans", sans-serif;
  --cor-titulo: #6d5632;
  --cor-titulo-destaque: #a68c5b;
  --cor-texto: #4b4431;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--cor-principal);
  font-family: var(--font-secundaria), sans-serif;
  color: var(--cor-texto);
  box-sizing: border-box;
}

/* HEADER */
.container_header {
  color: var(--cor-titulo);
  position: relative;
  width: 100%;
  height: 40vw;
  font-family: var(--font-principal), serif;
}
.img_primary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/img_principal.png);
  background-color: var(--cor-principal);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  z-index: -1;
}

.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vw;
  font-size: 23px;
  z-index: 1;
  margin-left: 200px;
  cursor: pointer;
  font-family: var(--font-principal), serif;
}
.nav_menu ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.nav_menu a {
  text-decoration: none;
  color: var(--cor-titulo);
  font-family: var(--font-principal), serif;
}
.nav_menu a:hover {
  color: var(--cor-titulo-destaque);
}
.nav_menu button {
  margin: 10px;
  font-size: 18px;
  background: var(--cor-botao);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.5em 1.2em;
  cursor: pointer;
  font-family: var(--font-secundaria), sans-serif;
  transition: background 0.2s;
}
.link-whatsapp:hover {
  background-color: #25d366;
}
.workshop_btn:hover {
  background-color: #5c4f3c;
}
.workshop_btn a {
  color: white;
  font-size: 20px;
  font-family: var(--font-secundaria), sans-serif;
}

.header__TXT {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -30px;
  left: 25%;
  height: 100%;
  gap: 4px;
  left: 25%;
  height: 90%;
  z-index: 1;
}
.header__TXT img {
  width: 30vw;
}
.header__TXT h1 {
  position: relative;
  font-size: 2.5rem;
  color: var(--cor-titulo-destaque);
  font-family: var(--font-principal), serif;
}
.header__TXT p {
  position: relative;
  top: -30px;
  font-size: 2rem;
  color: var(--cor-titulo);
  font-family: var(--font-secundaria), sans-serif;
}

.icon button {
  display: flex;
  align-items: center;
  border: none;
  gap: 10px;
  padding: 7px;
  padding-left: 16px;
  font-size: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 10px;
  font-family: var(--font-secundaria), sans-serif;
}
.icon:hover {
  transition: 0.3s;
  transform: scale(1.05);
}
.icon img {
  width: 35px;
  padding: 5px;
}

/* Depoimentos */
.main_testimony {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  height: 35vw;
  background-color: var(--fundo-depoimentos);
  font-family: var(--font-secundaria), sans-serif;
}
.main_testimony h1 {
  display: flex;
  justify-content: center;
  width: 100vw;
  font-size: 30px;
  color: var(--cor-titulo-destaque);
  font-family: var(--font-principal), serif;
}
.main_testimony p {
  width: 40vw;
  font-size: 20px;
  color: var(--cor-texto);
}
.blackk {
  display: flex;
  border: 1px solid black;
  width: 50vw;
}

/* Sobre */
.about-content {
  display: flex;
  align-items: center; /* alinha verticalmente */
  justify-content: center; /* centraliza horizontalmente, opcional */
  gap: 10px; /* espaço entre a imagem e o texto */
  padding: 20px; /* espaçamento interno */
}

.about-content img {
  position: relative;
  left: -80px;
  width: 20vw;
  height: auto;
  border-radius: 10px; /* opcional para bordas arredondadas */
}

.about h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: var(--cor-titulo-destaque);
  font-family: var(--font-principal), serif;
}

.about-text {
  position: relative;
  left: -250px;
  width: 30vw;
  height: 22vw;
}
.about p {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: var(--cor-texto);
}
.about img {
  width: 35vw;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}

/* Objetivo */
.objective_txt h1 {
  position: relative;
  top: 16px;
  font-size: 35px;
  text-align: center;
  background-color: var(--fundo-objetivo);
  color: var(--cor-titulo-destaque);
  font-family: var(--font-principal), serif;
}
.container_objective {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2vw 0;
  min-height: 35vw;
  background-color: var(--fundo-objetivo);
  gap: 2vw;
  font-family: var(--font-secundaria), sans-serif;
}
.container_objective img {
  border-radius: 15px;
  width: 22vw;
  height: 25vw;
}
.container_objective img:hover {
  filter: grayscale(100%);
  transition: filter 0.7s;
}
.container_objective h2 {
  display: flex;
  justify-content: center;
  color: var(--cor-titulo);
  font-family: var(--font-principal), serif;
}

/* PROCEDIMENTOS */
.procedures_txt {
  font-size: 25px;
  text-align: center;
  background-color: var(--fundo-procedimentos);
  color: var(--cor-titulo-destaque);
  font-family: var(--font-principal), serif;
}
.container_procedures {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2vw 0;
  height: 25vw;
  background-color: var(--fundo-procedimentos);
  font-family: var(--font-secundaria), sans-serif;
}
.container_procedures img {
  width: 17vw;
  border-radius: 12px;
}
.container_procedures img:hover {
  transition: 0.3s;
  transform: scale(1.06);
  cursor: pointer;
}
.container_procedures h3 {
  text-align: center;
  font-size: 25px;
  color: var(--cor-titulo);
  font-family: var(--font-principal), serif;
}

/* Acompanhamento */
.aesthetic_group {
  background-color: var(--fundo-acompanhamento);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-family: var(--font-secundaria), sans-serif;
  height: 35vw;
}

.aesthetic_group {
  display: flex;
  flex-direction: row-reverse; /* Inverte: imagem direita, texto esquerda */
  align-items: center;
  justify-content: center;
  gap: 500px; /* Espaço entre imagem e texto */
  padding: 40px;
  background-color: #fdf6ed; /* Opcional, seguindo seu estilo */
}

.group_img img {
  width: 40vw;
  position: relative;
  left: -80px;
  height: auto;
  border-radius: 12px;
}

.text_organizer {
  width: 40vw;
  flex: 1;
  text-align: left;
  max-width: 600px;
}

.aesthetic_txt h1 {
  color: var(--cor-titulo-destaque);
  font-family: var(--font-principal), serif;
  display: flex;
  justify-content: center;
  width: 50vw;
  font-size: 32px;
  margin-bottom: 16px;
  color: var (--cor-titulo-destaque); /* ou a cor que estiver usando */
}

.text_organizer p {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 12px;
  width: 200vw;
  height: auto;
}

.aesthetic_group p {
  width: 50vw;
  text-align: center;
  font-size: 20px;
  color: var(--cor-texto);
}
.aesthetic_txt {
  font-size: 23px;
}

/* Workshops */
.Workshop_txt {
  color: var(--cor-titulo-destaque);
  font-family: var(--font-principal), serif;
  background: var(--fundo-workshop);
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100vw;
  padding: 13px;
}
.container_Workshop {
  text-align: center;
  background: var(--fundo-workshop);
  font-family: var(--font-secundaria), sans-serif;
  height: 25vw;
}
.container_Workshop img {
  width: 30vw;
  border-radius: 10px;
}
.container_Workshop img:hover {
  transition: 0.3s;
  transform: scale(1.04);
  cursor: pointer;
}
.rating-text,
.container_Workshop h3 {
  font-size: 20px;
  color: var(--cor-titulo);
  font-family: var(--font-principal), serif;
}
.box {
  display: flex;
  justify-content: space-evenly;
}

/* unidade */
.location_txt h1 {
  font-size: 2.5rem;
  color: var(--cor-titulo-destaque);
  font-family: var(--font-principal), serif;
  background: var(--fundo-unidade);
}
.container_location {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 30vw;
  background: var(--fundo-unidade);
  font-family: var(--font-secundaria), sans-serif;
}
.container_location div {
  display: grid;
  text-align: left;
  grid-template-columns: auto;
  gap: 20px;
}
.container_location h3,
.container_location p {
  font-size: 23px;
  color: var(--cor-texto);
}
.container_location button {
  border: none;
  display: flex;
  align-items: center;
  width: 15vw;
  border: none;
  gap: 10px;
  padding: 15px;
  font-size: 18px;
  background-color: #25d366;
  color: white;
  border-radius: 10px;
  font-family: var(--font-secundaria), sans-serif;
  cursor: pointer;
}

.container_location button:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

.container_location img {
  display: block;
  text-align: center;
  position: relative;
  top: 3px;
  left: 10px;
  width: 30px;
}
.location_txt {
  text-align: center;
}

/* footer */
.container_footer {
  background-color: var(--cor-botao);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  color: #fff;
  font-family: var(--font-secundaria), sans-serif;
}
.Procedures_footer {
  height: auto;
}
.container_footer h2 {
  color: #fff;
  font-family: var(--font-principal), serif;
}
.container_footer img {
  width: 8vw;
}

.image_depoimento {
  width: 150px;
  height: 150px;
  background-image: url('/assets/img/foto-png-cortada.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}



/* === NOTEBOOK - max-width: 1024px === */
@media (max-width: 1024px) {
  .header__TXT {
    left: 10%;
    top: -20px;
    width: 80%;
  }
  .main_testimony {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vw;
  }
  .main_testimony p {
    gap: 2px;
    align-items: center;
    justify-content: center;
    width: 52vw;
  }
  .about-text {
    height: 30vw;
  }
  .about-text p {
    width: 45vw;
    font-size: 19px;
  }
  .aesthetic_group {
    height: 45vw;
  }
  .aesthetic_group .group_img img {
    position: relative;
    left: -150px;
  }
  .aesthetic_group .text_organizer {
    width: 50vw;
    position: relative;
    left: 200px;
  }
  .container_Workshop {
    height: 30vw;
  }
  .container_location {
    height: 40vw;
  }
  .container_location button {
    width: 21vw;
    font-size: 19px;
  }
}
@media (max-width: 1024px) {
  .img_primary {
    filter: blur(3px);
  }
  .container_header {
    height: 70vw;
  }
  .header_nav {
    width: 100%;
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
  }
  .header__TXT {
    text-align: center;
    position: relative;
    left: -9px;
  }
  .header__TXT p {
    color: black;
  }
  .main_testimony {
    height: 60vw;
    width: 100vw;
  }
  .about {
    height: 50vw;
  }
  .about P {
    width: 60vw;
    font-size: 20px;
  }
  .about img {
    position: relative;
    left: 0;
  }
  .about-text {
    width: 60vw;
    height: 40vw;
    left: 0;
  }
  .aesthetic_group {
    flex-direction: column;
    gap: 40px;
    height: auto;
    width: 100vw;
    padding: 20px;
  }
  .aesthetic_group .group_img img,
  .aesthetic_group .text_organizer {
    left: 0;
    width: 50vw;
    max-width: 100%;
  }
  .text_organizer {
    width: 80vw;
    max-width: 100%;
    left: 0;
  }
  .container_Workshop {
    height: auto;
    width: 100vw;
    padding: 20px 0;
  }
  .container_location {
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 20px 0;
    gap: 30px;
  }
  .container_location button {
    width: 60vw;
    justify-content: center;
    font-size: 18px;
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .nav_menu {
    margin-top: 32px;
    margin-left: 0;

    align-items: center;
    height: auto;
  }
  .main_testimony {
    height: auto;
    width: 100vw;
    padding: 20px 0;
  }
  .about {
    height: 100vw;
    width: 100vw;
  }
  .about-text p {
    width: 90vw;
    text-align: center;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .about-content img {
    order: 0;
    width: 80vw;
    max-width: 300px;
    margin: 0 auto 12px auto;
    left: 0;
    display: block;
  }
  .about-text {
    order: 1;
    width: 90vw;
    left: 0;
    padding: 0 10px;
    text-align: center;
  }
  .aesthetic_group {
    flex-direction: column;
    gap: 24px;
    height: auto;
    width: 100vw;
    padding: 10px 0;
  }
  .aesthetic_group .group_img img,
  .aesthetic_group .text_organizer {
    left: 0;
    width: 50vw;
    max-width: 100%;
  }
  .text_organizer {
    width: 90vw;
    max-width: 100%;
    left: 0;
    padding: 0 10px;
  }
  .container_Workshop {
    height: auto;
    width: 100vw;
    padding: 10px 0;
  }
  .container_Workshop img {
    width: 90vw;
    max-width: 100%;
  }
  .container_location {
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 10px 0;
    gap: 20px;
  }
  .container_location button {
    width: 90vw;
    justify-content: center;
    font-size: 16px;
    flex-direction: row;
  }
  .img_primary {
    display: none;
  }
}
